################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/~$ES App.docx
/MES App.docx
/~WRL2946.tmp
